name: Expo Updates

on:
  workflow_dispatch:
    inputs:
      channel:
        type: choice
        description: "Channel"
        required: true
        default: "development"
        options:
          - "development"
          - "preview"
          - "production"
      platform:
        type: choice
        description: "Platform"
        required: true
        default: "all"
        options:
          - "all"
          - "ios"
          - "android"

jobs:
  expo-updates:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.CHECKOUT_REPOSITORY }}
          ref: ${{ github.event.inputs.channel == 'development' && 'develop' || github.event.inputs.channel == 'preview' && 'staging' || github.event.inputs.channel == 'production' && 'main' }}
          ssh-key: ${{ secrets.CHECKOUT_SSH_KEY }}
  
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
  
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
  
      - name: Install CLI
        run: pnpm add -g eas-cli
      
      - name: Install dependencies
        run: pnpm install

      - name: Expo Updates
        run: EXPO_TOKEN=${{ secrets.EXPO_TOKEN }} eas update --auto --environment=${{ github.event.inputs.channel }} --platform=${{ github.event.inputs.platform }} --clear-cache --non-interactive
        working-directory: apps/expo